{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Account{% endblock title %}
{% block header %}
{% include 'nav.html' %}
{% endblock header %}
{% block main %}
    <div id="login-form" class="row-cols-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h1 class="fs-2">Set a new password.</h1>        
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="button" class="btn btn-success"
            hx-post="{% url 'confirm-password-reset' uidb64 token %}"
            hx-trigger="click"
            hx-target="#main-div"
            hx-swap="innerHTML"
            >            
                Reset my password
            </button>
        </form>
        </div>
        
    </div>
{% endblock main %}