{% extends base_template %}

{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}
{% block main %}
    
        <div id="edit-form" class="row-cols-3">            
            <form action="" class="col-10 offset-1 col-md-6 offset-md-3">
                <h1 class="fs-1 text-capitalize text-center">Password Change</h1>
                <p>Please enter your old password for security's sake, and then 
                    enter your new password twice so we can verify you typed it in correctly.
                </p>
                {{ form|crispy }}
                <button type="submit" class="btn btn-success" hx-post="{% url 'password-change' %}"                
                hx-trigger="click"
                hx-target="#main-div"
                hx-swap="innerHTML">
                    Save
                </button>
            </form>            
        </div>        

{% endblock main %}        