{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Account{% endblock title %}
{% block header %}
{% include 'nav.html' %}
{% endblock header %}
{% block main %}
    <div id="login-form" class="row-cols-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h1 class="fs-2">Forgot Password</h1>
        <p>Enter your email address below, and we'll email instructions for setting a new one </p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Send me instructions"
            >            
        </form>
        </div>
        
    </div>
{% endblock main %}