{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Account{% endblock title %}
{% block header %}
{% include 'nav.html' %}
{% endblock header %}
{% block main %}
    <div id="login-form" class="row-cols-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h1 class="fs-2">Set a new password.</h1>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="button" class="btn btn-success" value="Change my password">            
        </form>
        </div>
        
    </div>
{% endblock main %}