{% extends base_template %}

{% load crispy_forms_tags %}
{% block title %}Change Password Success{% endblock title %}
{% block main %}
    
        <div id="edit-form" class="row-cols-3">            
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <h1 class="fs-2 text-capitalize text-center">Password Change Successful</h1>
                <p>Your password was changed.</p>                
                <div class="my-3 d-flex justify-content-between">
                    <p>
                        <button class="btn btn-success"
                hx-get="/tasks/"
                hx-push-url="true"
                hx-trigger="click"
                hx-target="#main-div"
                hx-swap="innerHTML">View All Tasks</button>
                    </p>
                
                    <p>
                        <button class="btn btn-success"
                hx-get="{% url 'profile-update' %}"
                hx-push-url="true"
                hx-trigger="click"
                hx-target="#main-div"
                hx-swap="innerHTML">Update Profile</button>
                    </p>                    
                </div>              
            </div>            
            
        </div>        

{% endblock main %}        