<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-around">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Tasks App</a>
    <form class="d-none d-md-flex d-lg-none">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Tasks"
        name="search"
        onkeydown="return (event.key!='Enter');"
        hx-post="/tasks/search/"
        hx-trigger="keyup changed delay:500ms, search"
        hx-target="#main-div"
        hx-swap="innerHTML"
      />
    </form>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-md-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 justify-content-md-evenly">
        <li class="nav-item mx-md-4">
          <a
            class="nav-link active"
            aria-current="page"
            hx-get="/"
            hx-push-url="true"
            hx-trigger="click"
            hx-target="#main-div"
            hx-swap="innerHTML"
            style="cursor: pointer"
            >Tasks</a
          >
        </li>
        <li class="nav-item mx-md-4">
          <a
            class="nav-link active"
            aria-current="page"
            hx-get="{% url 'create'%}"
            hx-replace-url="/tasks/create/"
            hx-trigger="click"
            hx-target="#main-div"
            hx-swap="innerHTML"
            style="cursor: pointer"
            >Add Task</a
          >
        </li>
        <li class="nav-item mx-md-4 d-md-block d-none">
          <form class="d-flex d-lg-block d-sm-none">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search Tasks"
              name="search"
              onkeydown="return (event.key!='Enter');"
              hx-post="/tasks/search/"
              hx-trigger="keyup changed delay:500ms, search"
              hx-target="#main-div"
              hx-swap="innerHTML"
            />
          </form>
        </li>
        <li class="nav-item mx-md-4 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            <li>
              <a
                class="dropdown-item"
                href=""
                hx-push-url="true"
                hx-get="/accounts/register/"
                hx-trigger="click"
                hx-target="#main-div"
                hx-swap="innerHTML"
                >Register</a
              >
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <form class="d-flex d-md-none position-relative my-auto">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search Tasks"
      name="search"
      hx-post="/tasks/search/"
      hx-trigger="keyup changed delay:500ms, search"
      hx-target="#main-div"
      hx-swap="innerHTML"
    />
  </form>
</nav>
